@import "variables";
@import "mixins";
@import "search-form";
@import "nav-bar";
@import "footer";
@import "index";
/*
body {
    background-color:$color_primaire;
    @include desktopView($breackpoint) {
        background-color:yellow;
    }
}

p {
    color:red;
}
.sidebar{
    background: $color_primaire_fonce;
    padding: 1rem;
}
*/
:root {
    font-size: 16px;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}